<%- include('../partials/header'); %>
    
    <div class="container">

        <h1>Welcome to your Tokofolio</h1>

        <%=JSON.stringify(user)%>

    </div>

<%- include('../partials/footer'); %>